# Dependency directories
node_modules/

# Build outputs
dist/
*.exe
*.dll
*.so
*.dylib

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite

# Python specific
__pycache__/
.venv/
*.py[cod]

# Temporary files
tmp/
